@import "@/styles/variables";

.item {
	display: flex;
	align-items: center;
	gap: 2rem;
	margin-bottom: 0.5rem;
	padding: 0.3rem;
}

.farm {
	background-color: $secondary-color-100;
	// color: $white;
}
