@use "@/styles/mixins" as mix;
@import "@/styles/variables";

.wrapper {
	height: $header-height;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0rem 1rem;
	background-color: $primary-color-400;
	color: $gray-color-800;

	h3 {
		font-size: $font-size-3xl;
	}
}

.infos {
	display: none;
	@include mix.screen-md {
		display: flex;
		align-items: center;
		gap: 1rem;

		p {
			font-weight: bold;
		}
	}
}

.phoneMenu {
	display: block;
	@include mix.screen-md {
		display: none;
	}
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0.5rem;
	gap: 1rem;
	background-color: $primary-color-400;
	transform: translateX(-100%);
	transition: all 0.3s ease;
	z-index: 9999;

	header {
		text-align: end;
	}

	nav {
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;
	}

	@include mix.screen-md {
		display: none;
	}
}

.menuInfos {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.menuOpen {
	transform: translateX(0);
}

.link {
	background-color: transparent;
	border: none;
	color: $gray-color-600;
	font-size: $font-size-3xl;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
}
